*{
    margin: 0;
    padding: 0;
}
.title{
    margin-top: 20px;
}
.title_item{
    display: flex;
    width: 100%;
}
.title_item h2 , body h3{
    font-weight: 600;
}
.title_item select{
    border: solid 1px black;
    margin-left: 15px;
    border-radius: 5px;
}

.room_name , .room_desc, .room_price, .room_number{
    font-size: 22px;
    font-weight: 800;
}
.room_name input ,.room_desc textarea ,.room_price input ,.room_number input{
    font-size: 18px;
    font-weight: 400;
}
.button{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: #28a745 !important;
    font-size: 18px;
}