.term {
    width: 60%;
    margin: 60px auto;

}
.term h2{
    font-size: 22px;
    font-weight: 700;
}
.term textarea{
    width: 80%;
    height: 500px;
    margin-left: 100px;
}
.term_check {
    display: flex;
}
.term_check input{
    margin-top: 5px;
}
.term_check p{
    margin-left: 10px;
    font-size: 16px;
}