.popup-content {
    max-height: 80vh; /* Giới hạn chiều cao tối đa của nội dung */
  }
  
  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup {
    max-height: 80vh;
    overflow-y: auto;
    margin: 20px;
  }
  
  .popup-content {
    margin-bottom: 40px;
  }
  
  .popup h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .popup button.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }